.wrapper {
  background-color: #fcfcfc;
  font-family: Helvetica, Arial, sans-serif;
}
.splash {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  text-align: center;
}
